
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #2a2c30;
  padding-top: 50px;
}

.footer .footer-logo .navbar-brand {
  color: #fff;
  display: inline-block;
  float: none;
  font-family: "Philosopher", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}

.footer .footer-logo p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}

.footer .list-menu ul li a {
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0;
}

.footer .copyrights {
  background: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p, .footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}

.footer .copyrights p a, .footer .copyrights .credits a {
  letter-spacing: 0;
  color: #71c55d;
}


/**********header**********/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 3;
  transition: all 0.5s ease;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.scroll-header {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}



/**********NAV BAR***********/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "v";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
}

@media (max-width: 1024px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #71c55d;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #71c55d;
}

.nav-menu ul ul {
  margin: 0;
}
